body{
    background-color: aquamarine;
}
.draggable {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40vw;
    height: 40vh;
    background-color: skyblue;
    text-align: center;
    cursor: move;
    border-radius: 20px 0 20px 0;
    box-shadow: 5px 5px 5px 5px black;
}  